@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background: black;
}

nav {
  background: #2b3241;
  border-radius: 15px;
  margin: 15px;
  padding: 20px;
}

a {
  color: white;
  text-decoration: none;
  font-family: monospace;
  font-size: 20px;
  margin: 15px;
  display: block;
  background: rgb(66, 66, 66);
  padding: 15px;
  border-radius: 15px;
}

#title-nav {
  color: white;
  text-decoration: none;
  font-family: 'Press Start 2P', Arial;
  margin: 15px;
  background: #2b3241;
}

section {
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
  background: #21242a;
}

h2 {
  color: white;
  font-family: 'Press Start 2P', Courier, monospace;
  background: #2b3241;
}

h3 {
  color: white;
  font-family: 'Press Start 2P', Courier, monospace;
  background: #2b3241;
}

h1 {
  color: white;
  font-family: 'Press Start 2P', Courier, monospace;
  background: #2b3241;
}

p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

#music-mode {
  border: 3px solid white;
  padding: 15px;
  margin: 10px;
}

details {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font: bold;
  cursor: pointer;
  background: #2b3241;
}

#style-dis-in {
  background: none;
  transition: none;
  padding: 0;
  border: none;
  font: bolder;
}

#track-card {
  border: 3px solid white;
  margin: 10px;
  padding: 15px;
}

#artist-name-track {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

audio {
  margin: 15px;
}

button {
  cursor: pointer;
}

@media (max-width: 1100px) {
  a {
    display: block
  }
}

ul {
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

#verified-badge {
  width: 30px;
  height: 30px;
}

.add-artist-badge {
  display: flex;
  background: transparent;
  border: 2px solid white;
  margin: 15px;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

#bmac-click-button {
  width: 150px;
  height: 50px;
}
