@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background: black;
}

nav {
    background: grey;
    border-radius: 15px;
    margin: 15px;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
    margin: 15px;
}

a:hover {
    background: darkgrey;
    padding: 15px;
    border-radius: 15px;
    transition: 0.5s;
}

#title-nav {
    color: white;
    text-decoration: none;
    font-family: 'Press Start 2P', Arial;
    margin: 20px;
}

section {
    border: 2px solid white;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
}

h2 {
    color: white;
    font-family: 'Press Start 2P', Courier, monospace;
}

h3 {
    color: white;
    font-family: 'Press Start 2P', Courier, monospace;
}

h1 {
    color: white;
    font-family: 'Press Start 2P', Courier, monospace;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

#music-mode {
    border: 3px solid white;
    padding: 15px;
    margin: 10px;
}

details {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font: bold;
    cursor: pointer;
}

#style-dis-in {
    background: none;
    transition: none;
    padding: 0;
    border: none;
}

#track-card {
    border: 3px solid white;
    margin: 10px;
    padding: 15px;
}

#artist-name-track {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

audio {
    margin: 15px;
}

button {
    cursor: pointer;
}